<div class="row">
  <div class="col-xs-12 p-header">
    <h1>Edit Note</h1>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="newNoteForm" (ngSubmit)="updateNote(newNoteForm.value)" (keydown.enter)="$event.preventDefault()">
      <div class="form-group">
        <label for="title">Title</label>
        <input name="title" class="form-control" type="text" [formControl]="newNoteForm.controls['title']">
      </div>
      <div class="form-group">
        <label for="desctiption">Description</label>
        <textarea class="form-control" type="text" [formControl]="newNoteForm.controls['description']" rows="5"></textarea>
      </div>

      <note-color (newValue)="selectNoteColor($event)" [selectedColor]="selectedColor" class="text-center"></note-color>

      <div class="form-group">
        <label>Categiries</label>
        <select class="form-control" name="categories" [formControl]="newNoteForm.controls['categories']">
          <option *ngFor = "let category of categories" [value]="category">{{category}}</option>
        </select>
      </div>

      <strong class="like-label">Tags</strong>
      <div class="tags">
        <span *ngFor = "let tag of tags" class="label label-default tag-template">{{tag}} <i class="glyphicon glyphicon-remove-circle" (click)="deleteTag(tag)"></i>
        </span>
        <input type="text" #tagsInput (blur)="setTags($event,tagsInput)" (keydown.enter)="setTags($event,tagsInput)"/>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn  btn-default">Update</button>
      </div>
    </form>
  </div>
</div>
