      <strong class = "like-label">Color</strong>
      <div class="color-wrapper">
        <span class="color" *ngFor="let color of colors" [style.background-color]="color" (click)="getColor($event, color)" [ngClass]="{'active': selectedColor == color}">
        </span>
      </div>


