<div class="row">
  <div class="col-xs-12 p-header">
    <h1>Notes</h1>
    <a [routerLink]="['/new']" class="create-note"></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="sort-by-category">Filter By Category</label>
       <select name="sort-by-category" #filterByCategory class="form-control" (change)="filterNotes($event.target, 'categories', filterByCategory.value)">
       <option value="">All</option>
         <option *ngFor="let category of const.categories" [value]="category">{{category}}</option>
        </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="find-by-category">Filter By Tag</label>
       <input type="text" #fiterByTag class="form-control" (keydown.enter)="filterNotes($event.target,'tags', fiterByTag.value)">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="sort-by-category">Filter By Color</label>
      <div class="color-wrapper">
        <span class="find-by-color" *ngFor = "let color of const.colors" [style.background-color]="color" (click)="filterNotes($event.target, 'color', color)" [ngClass]="{'active': selectedColor == color}"
        ></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" *ngFor = "let note of notes; let i = index">
    <div class="panel panel-default">
     <div class="panel-heading clearfix">
       <p class="panel-title" ><strong>{{note.title}}</strong>
       </p>
       <p class="note-category">{{note.categories}}</p>
       <div class="note-icons pull-right">
        <a [routerLink]="['/edit', note.id]"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="#" (click)="removeNote(note.id)"><span class="glyphicon glyphicon-trash"></span></a>
       </div>
     </div>
      <div class="panel-body" [style.background]="note.color">
      <div class="descr">
        {{note.description}}
      </div>
        <div class="tags-container">
          <span class="note-tags label label-default" *ngFor="let tag of note.tags">
          <span class="tag-hash">#</span> {{tag}}
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
