.panel-default .panel-heading{
  border:none;
    background: #999;
    color: #fff;
}
.panel-default .panel-title{
  font-size:  13px;
  text-transform: uppercase;
}
.note-option {
  position:absolute;
  right: 15px;
  top: 12px;
}
.note-icons {
    position: absolute;
    top: 15px;
    right: -9px;
    width: 25px;
    border: 1px solid #ccd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left:none;
    background: #f1f1f1;
}
.note-icons .glyphicon{
  margin: 5px;
  display: inline-block;
  color: #444;

  font-size: 15px;
}
.p-header{
  position: relative;
  margin-bottom: 20px;
}
.p-header h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  letter-spacing:-1px;
}
.p-header .create-note{
  text-decoration: none;
  position: absolute;
  top: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #1abc9c;
  color: #1abc9c;
  font-weight: bold;
  font-size: 20px;
}

.p-header .create-note:before{
  content: "+";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -2px;
  left: 6px;
}
.descr {
  letter-spacing: 0.02em;
}
label {
  text-transform: uppercase;
  font-size: 10px;
}
.color-wrapper {
  padding: 5px 0;
}
.find-by-color.active {
  width:20px;
  height:20px;
  border: 2px solid #fff;
  box-shadow: 0 0 2px 1px rgba(43, 162, 224, .6);
}
.find-by-color {
  width:20px;
  height:20px;
  display:inline-block;
  margin-left:3px;
  border-radius:50%
}
.tags-container {
  margin: 20px 0 0;
}
.note-tags{
  float:left;
  margin: 0 3px 3px 0;
  background: #fff;
  color: #333;
  border: 1px solid #333;
}
.note-tags .tag-hash {
  color:#e74c3c;
}

.note-category {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0;
}
