body {
  background: url("app/assets/images/shl.png") repeat;
}
.p-header h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  letter-spacing:-1px;
}
.radio input {
   display: none;
}
label {
  text-transform: uppercase;
  font-size: 10px;
}
.like-label {
  text-transform: uppercase;
  font-size: 10px;
  display:inline-block;
  margin-bottom:5px;
}
.tags {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 10px;
  background: #fff;
}
.tags input {
  display: inline-block;
  border: none;
}
.tags input:focus {
  outline: none;
}
.tags span {
  display: inline-block;
  padding: 4px 7px;
  margin-right: 3px;
}
.btn-default {
  text-transform: uppercase;
  font-size: 15px;
  width:60%;
  color:#fff;
  background: #444;
}
